* {
  font-family: serif;
}

label {
  margin: 8px;
}

input {
  height: 20px;
  padding: 6px 10px;
  border-radius: 2px;
  border: 1px solid #999999;
  background-color: transparent;
}

input::placeholder {
  font-size: 14px;
  font-family: serif;
}

input:focus {
  outline: none;
  border: 1px solid #8c8c8c;
}
